LearnPython/ModulesAndPackages/__pycache__/
LearnPython/OOP/.ipynb_checkpoints/
LearnPython/OOP/__pycache__/
RealPython/OOP/.ipynb_checkpoints/
RealPython/ModulesAndPackages/__pycache__/
sklearn_notes/.ipynb_checkpoints/
